src/test/resources/expression-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:spring="http://www.springframework.org/schema/beans"
       xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
       xmlns:test="http://www.mulesoft.org/schema/mule/test"
       xmlns:cache="http://www.mulesoft.org/schema/mule/cache"
       xmlns:ehcache="http://www.springmodules.org/schema/ehcache"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
       http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/3.1/mule-test.xsd
       http://www.mulesoft.org/schema/mule/cache http://www.mulesoft.org/schema/mule/cache/3.1/mule-cache.xsd
       http://www.springmodules.org/schema/ehcache http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd
       http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.1/mule-s.xsd">

    <spring:beans>
        <ehcache:config id="ehcache" 
                        failQuietly="true"
                        configLocation="classpath:ehcache.xml" />
        
        <spring:bean id="cachingModel" class="org.springmodules.cache.provider.ehcache.EhCacheCachingModel">
            <spring:property name="cacheName" value="messages"/>
        </spring:bean>
        
        <spring:bean id="xpathGenerator" class="org.mule.module.cache.ExpressionKeyGenerator">
            <spring:property name="expression" value="#[xpath://key]"/>        
        </spring:bean>
    </spring:beans>
    
    <flow name="ExternallyDefinedGenerator">
        <inbound-endpoint address="vm://test1" exchange-pattern="request-response"/>
        <cache:cache-processor cache-ref="ehcache" 
                               cachingModel-ref="cachingModel"
                               cacheableExpression="#[xpath://cacheable[text() = 'true']]"
                               keyGenerator-ref="xpathGenerator"/>
        <component>
            <singleton-object class="org.mule.module.cache.IncreasingNumberComponent"/>
        </component>
    </flow>
    
    
    <flow name="ExpressionGenerator">
        <inbound-endpoint address="vm://test2" exchange-pattern="request-response"/>
        <cache:cache-processor cache-ref="ehcache" 
                               cachingModel-ref="cachingModel"
                               cacheableExpression="#[xpath://cacheable[text() = 'true']]"
                               keyGeneratorExpression="#[xpath://key]"/>
        <component>
            <singleton-object class="org.mule.module.cache.IncreasingNumberComponent"/>
        </component>
    </flow>
    
</mule>
